@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}

.sidebar{
    width: 210px;
    margin: 0;
    padding: 0;
    background-color: rgb(12, 12, 12);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    margin: 2px;
    border-radius: 40px;
    display: block;
    padding: 5px;
    display: flex;
    text-decoration: none;
    background-color: rgba(24, 168, 11, 0.35);
    color: #fff;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    transition: ease-in-out 0.4s;


}

.sidebar a:hover {
    background-color: black;
    color: gray;
    

}

.sair {
    display: block;
    background-color: aliceblue;
    padding: 16px;
    display: flex;
    border: none;
    text-decoration: none;
    color: black;
    flex-direction: row;
    align-items: center;
    transition: ease-in-out 0.4s;
    font-family: 'Poppins', sans-serif;

}

.sair:hover {
    background-color: black;
    color: gray;
    

}

@media screen and (max-width: 1200px) {
    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }
    
}

@media screen and (max-width: 700x) {
    
    .sidebar a {
        float: none;
        text-align: center;
    }
    
}


        
